/*
################# Selectores #################
*/

/*Selector Universal*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

/*Selector de Etiqueta*/

/*Selector de Identificador*/

/*Selector de Clase*/

/*Selector de Atributo*/